# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native folders (ignored for EAS Build with Prebuild)
android/
ios/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Build artifacts
*.apk
*.aab
*.ipa
build/
out/

# Logs
*.log

# Editor/IDE specific files
.idea/
.vscode/
*.iml

# Local environment files
.env
.env.*
.env*.local

# TypeScript
*.tsbuildinfo
